$--color-primary: #00b173;
$--color-success: #00b173;
$--color-warning: #f7ad4b;
$--color-danger: #f16538;
$--color-text-primary: #575c65;

$--font-path: '~element-plus/lib/theme-chalk/fonts';
@import '~element-plus/packages/theme-chalk/src/index';
